{{define "title"}}{{.i18n.Localize .locale "delete_user"}}{{end}}
{{define "page_css"}}<!--this page has no custom CSS-->{{end}}
{{define "page_js"}}<!--this page has no custom JS-->{{end}}
{{define "page_content"}}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <!--heading-->
                    <h1 class="m-0 text-dark">{{.i18n.Localize .locale "user_group"}}</h1>
                </div>
                <div class="col-sm-6">
                    <!--breadcrumb-->
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{call .reverse "cp_dashboard"}}">{{.i18n.Localize .locale "home"}}</a></li>
                        <li class="breadcrumb-item"><a href="{{call .reverse "cp_users"}}">{{.i18n.Localize .locale "users"}}</a></li>
                        <li class="breadcrumb-item active">{{.i18n.Localize .locale "delete_user"}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <form method="post" class="form-horizontal offset-sm-2 col-sm-8">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">{{.i18n.Localize .locale "delete_user_confirm" .user.Username}}</h3>
                    </div>
                    <div class="card-body">
                        {{if .error}}
                            <p class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{.error}}
                            </p>
                        {{end}}
                        <div class="form-group row">
                            <label for="username" class="col-sm-2 col-form-label">{{.i18n.Localize .locale "user_username"}}:</label>
                            <div class="col-sm-10">
                                <input type="text" id="username" name="username" class="form-control" placeholder="{{.i18n.Localize .locale "user_username"}}" value="{{.user.Username}}" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">{{.i18n.Localize .locale "user_name"}}:</label>
                            <div class="col-sm-10">
                                <input type="text" id="name" name="name" class="form-control" placeholder="{{.i18n.Localize .locale "user_name"}}" value="{{.user.Name}}" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="group" class="col-sm-2 col-form-label">{{.i18n.Localize .locale "user_group"}}:</label>
                            <div class="col-sm-10">
                                <input type="text" id="group" name="group" class="form-control" placeholder="{{.i18n.Localize .locale "user_group"}}" value="{{.user.GroupId}}" readonly="readonly"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white small text-muted">
                        <button type="submit" class="btn btn-danger btn-icon-split btn-sm" style="margin-right: 4px">
                            <span class="icon"><i class="fas fa-trash-alt"></i></span>
                            <span class="text" style="width: 96px">{{.i18n.Localize .locale "delete"}}</span>
                        </button>
                        <a href="{{call .reverse "cp_users"}}" class="btn btn-default btn-icon-split btn-sm float-right">
                            <span class="icon"><i class="fas fa-times"></i></span>
                            <span class="text" style="width: 96px">{{.i18n.Localize .locale "cancel"}}</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{{end}}
