<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="{{.appInfo.GetString "shortname"}}">

    <title>{{.appInfo.GetString "name"}}</title>

    <!-- Custom styles for this template -->
    <link href="{{.static}}/startbootstrap-grayscale-5.0.9/css/grayscale.min.css" rel="stylesheet">
    {{if .cdn_mode}}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    {{else}}
        <!-- Bootstrap core CSS -->
        <link href="{{.static}}/startbootstrap-grayscale-5.0.9/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template -->
        <link href="{{.static}}/startbootstrap-grayscale-5.0.9/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    {{end}}
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">btnguyen2k/goadmin</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#credits">Credits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">{{.appInfo.GetString "shortname"}}</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">{{.appInfo.GetString "desc"}}</h2>
                <a href="#about" class="btn btn-primary js-scroll-trigger">{{.i18n.Text "get_started"}}</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4"><a href="https://github.com/btguyen2k/goadmin.g8" target="_blank">btnguyen2k/goadmin</a></h2>
                    <p class="text-white-50">
                        GoAdmin is an AdminCP Giter8 template written in Go.
                        It can be used as starting point to build backend web-based application.
                        GoAdmin is open source, you can use it for any purpose, either personal or commercial.
                    </p>
                </div>
            </div>
            <img src="{{.static}}/startbootstrap-grayscale-5.0.9/img/ipad.png" class="img-fluid" alt="">
        </div>
    </section>

    <!-- Credits Section -->
    <section id="credits" class="projects-section bg-light">
        <div class="container">
            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    <!--<img class="img-fluid mb-3 mb-lg-0" src="{{.static}}/startbootstrap-grayscale-5.0.9/img/bg-masthead.jpg" alt="Echo - High performance, extensible, minimalist Go web framework">-->
                    <img class="img-fluid" src="{{.static}}/img_echo.png" alt="Echo - High performance, extensible, minimalist Go web framework">
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>GoAdmin</h4>
                        <p class="text-black-50 mb-0">
                            GoAdmin uses <a href="https://echo.labstack.com" target="_blank">Echo</a> - a high performance, extensible, minimalist Go web framework.
                            You can use GoAdmin for any project - even commercial ones!
                        </p>
                    </div>
                </div>
            </div>

            <!-- Project One Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <!--<img class="img-fluid" src="{{.static}}/startbootstrap-grayscale-5.0.9/img/demo-image-01.jpg" alt="Greyscale - A free, responsive, one page Bootstrap theme created by Start Bootstrap">-->
                    <img class="img-fluid" src="{{.static}}/img_greyscale.png" alt="Greyscale - A free, responsive, one page Bootstrap theme created by Start Bootstrap">
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Grayscale</h4>
                                <p class="mb-0 text-white-50">
                                    This landing page is customized from <a href="https://blackrockdigital.github.io/startbootstrap-grayscale/" target="_blank">Greyscale</a> - a free Bootstrap theme created by Start Bootstrap.
                                </p>
                                <hr class="d-none d-lg-block mb-0 ml-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Two Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                    <!--<img class="img-fluid" src="{{.static}}/startbootstrap-grayscale-5.0.9/img/demo-image-02.jpg" alt="AdminLTE Bootstrap Admin Dashboard Template">-->
                    <img class="img-fluid" src="{{.static}}/img_adminlte.png" alt="AdminLTE Bootstrap Admin Dashboard Template">
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">AdminLTE</h4>
                                <p class="mb-0 text-white-50">
                                    The AdminCP uses <a href="https://adminlte.io" target="_blank">AdminLTE 3</a> - open source admin dashboard & control panel theme, built on top of Bootstrap.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4">
                            <div class="small text-black-50"><a href="https://github.com/btnguyen2k/goadmin.g8" target="_blank">https://github.com/btnguyen2k/goadmin.g8</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">
                                <a href="javascript:;">bbtnguyen2k (at) gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">+1 (234) 567-8900</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social d-flex justify-content-center">
                <a href="#" class="mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
            Copyright &copy; Your Website 2019
        </div>
    </footer>

    {{if .cdn_mode}}
        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    {{else}}
        <!-- Bootstrap core JavaScript -->
        <script src="{{.static}}/startbootstrap-grayscale-5.0.9/vendor/jquery/jquery.min.js"></script>
        <script src="{{.static}}/startbootstrap-grayscale-5.0.9/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="{{.static}}/startbootstrap-grayscale-5.0.9/vendor/jquery-easing/jquery.easing.min.js"></script>
    {{end}}
    <!-- Custom scripts for this template -->
    <script src="{{.static}}/startbootstrap-grayscale-5.0.9/js/grayscale.min.js"></script>
</body>
</html>
