{{define "ADMINLTE"}}adminlte-3.2.0{{end}}
{{define "layout.html"}}<!--"master" template, its name is prefixed with ".html"-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Giter8 template to build Admin Control Panel for Go" />
<meta name="author" content="{{.appInfo.GetString "shortname"}}">
<title>{{template "title" .}} | {{.appInfo.GetString "name"}}</title>
{{if .cdn_mode}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.css">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/build/css/tempusdominus-bootstrap-4.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icheck-bootstrap@3.0.1/icheck-bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@1.13.0/css/OverlayScrollbars.min.css">
{{else}}
    <link rel="stylesheet" href="{{.static}}/googlefonts/sourcesanspro/sourcesanspro.css">
    <link rel="stylesheet" href="{{.static}}/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{.static}}/{{template "ADMINLTE"}}/plugins/fontawesome-free/css/all.min.css">
<!--    <link rel="stylesheet" href="{{.static}}/{{template "ADMINLTE"}}/plugins/daterangepicker/daterangepicker.css">-->
<!--    <link rel="stylesheet" href="{{.static}}/{{template "ADMINLTE"}}/plugins/summernote/summernote-bs4.min.css">-->
<!--    <link rel="stylesheet" href="{{.static}}/{{template "ADMINLTE"}}/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">-->
<!--    <link rel="stylesheet" href="{{.static}}/{{template "ADMINLTE"}}/plugins/icheck-bootstrap/icheck-bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="{{.static}}/{{template "ADMINLTE"}}/plugins/jqvmap/jqvmap.min.css">-->
    <link rel="stylesheet" href="{{.static}}/{{template "ADMINLTE"}}/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
{{end}}
<link rel="stylesheet" href="{{.static}}/{{template "ADMINLTE"}}/dist/css/adminlte.min.css">

<!-- Page level plugin CSS-->
{{template "page_css" .}}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="{{.static}}/{{template "ADMINLTE"}}/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="{{call .reverse "cp_dashboard"}}" class="nav-link">{{.i18n.Localize .locale "home"}}</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="javascript:alert('not implemented')" class="nav-link">{{.i18n.Localize .locale "contact"}}</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Navbar Search -->
            <li class="nav-item">
                <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                    <i class="fas fa-search"></i>
                </a>
                <div class="navbar-search-block">
                    <form class="form-inline">
                        <div class="input-group input-group-sm" onsubmit="javascript:alert('not implemented')">
                            <input class="form-control form-control-navbar" type="search" placeholder="{{.i18n.Localize .locale "search"}}" aria-label="{{.i18n.Localize .locale "search"}}">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <div class="media">
                            <img src="{{.static}}/{{template "ADMINLTE"}}/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <div class="media">
                            <img src="{{.static}}/{{template "ADMINLTE"}}/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <div class="media">
                            <img src="{{.static}}/{{template "ADMINLTE"}}/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>

            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{{call .reverse "cp_dashboard"}}" class="brand-link">
            <img src="{{.static}}/{{template "ADMINLTE"}}/dist/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">{{.appInfo.GetString "shortname"}}</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img class="img-circle elevation-2 myapp-img-current-user-profile" alt="User Profile Image">
<!--                    <img src="{{.static}}/{{template "ADMINLTE"}}/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">-->
                </div>
                <div class="info">
                    <a href="{{call .reverse "cp_profile"}}" class="d-block" {{if eq .active "profile"}}style="font-weight: bold"{{end}}>{{.currentUser.Name}}<!--'.currentUser' must not be nil--></a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="{{.i18n.Localize .locale "search"}}" aria-label="{{.i18n.Localize .locale "search"}}">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="{{call .reverse "cp_users"}}" class="nav-link {{if eq .active "users"}}active{{end}}">
                        <i class="nav-icon fas fa-user-alt"></i>
                        <p>{{.i18n.Localize .locale "users"}}<span class="badge badge-info right">{{.appUtils.NumUsers}}</span></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{call .reverse "cp_groups"}}" class="nav-link {{if eq .active "groups"}}active{{end}}">
                        <i class="nav-icon fas fa-users"></i>
                        <p>{{.i18n.Localize .locale "groups"}}<span class="badge badge-warning right">{{.appUtils.NumUserGroups}}</span></p>
                        </a>
                    </li>

                    <li class="nav-header">{{.i18n.Localize .locale "my_account"}}</li>
                    <li class="nav-item">
                        <a href="{{call .reverse "cp_logout"}}" class="nav-link">
                        <i class="nav-icon fas fa-user-lock"></i>
                        <p>{{.i18n.Localize .locale "signout"}}</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <!-- MAIN PAGE CONTENT -->
    <div class="content-wrapper">
        {{template "page_content" .}}
    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; 2022 <a href="https://github.com/btnguyen2k/goadmin.g8">{{.appInfo.GetString "name"}} v{{.appInfo.GetString "version"}}</a>.</strong> All rights reserved.
        <div class="float-right d-none d-sm-inline-block">Template by <a href="https://adminlte.io/"><b>AdminLTE 3</b></a></div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
</div>

<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/jquery/jquery.min.js"></script>
<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>$.widget.bridge('uibutton', $.ui.button)</script><!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/chart.js/Chart.min.js"></script>-->
<!--<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/sparklines/sparkline.js"></script>-->
<!--<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/jqvmap/jquery.vmap.min.js"></script>-->
<!--<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>-->
<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/jquery-knob/jquery.knob.min.js"></script>
<!--<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/moment/moment.min.js"></script>-->
<!--<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/daterangepicker/daterangepicker.js"></script>-->
<!--<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>-->
<!--<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/summernote/summernote-bs4.min.js"></script>-->
<script src="{{.static}}/{{template "ADMINLTE"}}/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="{{.static}}/{{template "ADMINLTE"}}/dist/js/adminlte.js"></script>
<!--<script src="{{.static}}/{{template "ADMINLTE"}}/dist/js/demo.js"></script>-->
<!--<script src="{{.static}}/{{template "ADMINLTE"}}/dist/js/pages/dashboard.js"></script>-->

<script src="{{.static}}/blueimp-md5-2.2/js/md5.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        let imgSrc = "https://www.gravatar.com/avatar/" + md5("{{.currentUser.Username}}")
        let objects = $(".myapp-img-current-user-profile")
        for (let obj of objects) {
            obj.src = imgSrc+"?s=512"
        }
    });
</script>

<!-- Page level plugin CSS-->
{{template "page_js" .}}
</body>
</html>
{{end}}
